<template>
  <div class="mb-5">
    <!-- Using modifiers -->
    <b-btn v-b-modal.modalSimple class="mr-1">Launch modal</b-btn>

    <!-- Using value -->
    <b-btn v-b-modal="'modalSimple'">Launch Modal</b-btn>

    <!-- Modal Component -->
    <b-modal id="modalSimple" title="Bootstrap-Vue" :ok-only="true">
      <p class="my-4">Hello from simple modal!</p>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: 'ModalSimple'
}
</script>
