<template>
  <div class="mb-5">
    <b-btn v-b-modal.modalFromInfoFromParent>Launch modal</b-btn>

    <!-- Modal Component -->
    <b-modal id="modalFromInfoFromParent" title="Bootstrap-Vue">
      <p class="my-4">{{ msg }}</p>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: 'ModalWithInfoFromParent',
  props: {
    msg: String
  }
}
</script>
