<template>
  <div class="mb-5">
    <b-btn v-b-modal.modalTal>Launch modal</b-btn>

    <!-- Modal Component -->
    <b-modal v-bind:id="myModalID" title="Bootstrap-Vue">
      <p class="my-4">Hello from modal!</p>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: 'ModalIdFromData',
  data () {
    return {
      myModalID: 'modalTal'
    }
  }
}
</script>
