<template>

  <div class="mb-5">
    <!-- Using modifiers -->
    <b-btn v-b-modal.modalCustomHeader class="mr-1">Launch modal</b-btn>

    <!-- Modal Component -->
    <b-modal id="modalCustomHeader" title="Bootstrap-Vue">

      <!-- 'modal-header' slot -->
      <template slot="modal-header">
        <b-container>
          <b-row align-v="center">
            <b-col cols="auto">
              <font-awesome-icon icon="question" size="2x"/>
            </b-col>
            <b-col>
              <h1>title</h1>
            </b-col>
          </b-row>
        </b-container>
      </template>

      <p class="my-4">Hello from simple modal!</p>
    </b-modal>
  </div>

</template>

<script>
export default {
  name: 'modalCustomHeader'
}
</script>
