<template>
  <div class="mb-5">
    <b-btn v-b-modal.modalWithSlot>Launch modal</b-btn>

    <!-- Modal Component -->
    <b-modal id="modalWithSlot" title="Bootstrap-Vue">
      <p class="my-4">
        <slot></slot>
      </p>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: 'ModalWithSlot'
}
</script>
