<template>
  <b-modal :id="id">
  <!-- <b-modal> -->
    <p class="my-4">Hello from simple modal!</p>
    {{ id }}
  </b-modal>
</template>

<script>
export default {
  name: 'Specialmodal',
  props: [
    'id'
  ],
  methods: {
    showt () {
      this.refs.specialModal.show()
    }
  }
}
</script>
