<template>
  <div class="container forms">
    <simple-header>
      <template slot="start">
        <h1>Forms</h1>
      </template>
      <template slot="end">
        <button>button 1</button>
        <button>button 2</button>
      </template>
    </simple-header>
    <h2>Form Basic</h2>
    <b-container>
      <b-form-row class="justify-content-md-center">
        <b-col md="6">
          <form-basic></form-basic>
        </b-col>
      </b-form-row>
    </b-container>
  </div>
</template>

<script>
import FormBasic from '@/components/forms/FormBasic'
import SimpleHeader from '@/components/header/header.simpleHeader'

export default {
  name: 'forms',
  components: {
    FormBasic,
    SimpleHeader
  }
}
</script>
