<template>
  <div class="layout-main-scrollable">
    <div class="layout-main-scrollable__header">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum quo aperiam quia pariatur animi quae eveniet laborum! Perspiciatis veniam dolor molestiae incidunt voluptate est? Unde soluta quam dolor rem totam.
    </div>
    <div class="layout-main-scrollable__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dignissimos minima dolore, maiores doloribus ex numquam ullam tempore placeat animi veritatis nostrum. Unde iusto possimus facere corporis nihil voluptatum vitae.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta distinctio similique iure quidem modi cum ea in esse numquam cumque assumenda repellendus velit explicabo mollitia, labore magni earum ratione. Tempora!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In autem eos placeat minus amet deleniti natus, aperiam possimus eligendi assumenda nisi fuga at, quod voluptas dolores velit eius repellat. Praesentium.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore assumenda eos esse, nesciunt laborum blanditiis tempore eaque suscipit officiis laudantium nemo voluptate odio aliquam amet aperiam dolore qui, fugiat veniam.
    </div>
    <div class="layout-main-scrollable__footer">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit, earum soluta. Itaque saepe omnis assumenda nulla sit fugit doloremque voluptate error dignissimos, blanditiis, quaerat nobis officia accusamus corporis magnam laboriosam.
    </div>
  </div>
</template>

<style lang="scss">
.layout-main-scrollable {
  background-color: #ccc; // visual helper
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  // For full visual height change width and height to 100%,
  // parents div height to 100% and body height to 100vh
  width: 600px;
  height: 400px;
}

.layout-main-scrollable__header {
  background-color: #ececc1; // visual helper
  flex-shrink: 0;
}

.layout-main-scrollable__body {
  background-color: #eec0c0; // visual helper
  flex-grow: 1;
  overflow: auto;
}

.layout-main-scrollable__footer {
  background-color: #c9f5c7; // visual helper
  flex-shrink: 0;
}
</style>
