<template>
  <div class="modals">

    <h1 class="mb-4">Modal Simple</h1>
    <modal-simple></modal-simple>

    <h1 class="mb-4">Modal with Id from data</h1>
    <modal-id-from-data></modal-id-from-data>

    <h1 class="mb-4">Modal with info from parent</h1>
    <modal-with-info-from-parent msg="This content is create from parent"></modal-with-info-from-parent>

    <h1 class="mb-4">Modal with slot</h1>
    <modal-with-slot>Texto slot</modal-with-slot>

    <h1 class="mb-4">Modal with custom header</h1>
    <modal-with-custom-header></modal-with-custom-header>

    <h1 class="mb-4">v-b-modal</h1>
    <b-btn v-b-modal.vbModal>Show modal with v-b-modal</b-btn>
    <special-modal id="vbModal"></special-modal>

  </div>
</template>

<script>
import ModalSimple from '@/components/modals/ModalSimple.vue'
import ModalIdFromData from '@/components/modals/ModalIdFromData.vue'
import ModalWithInfoFromParent from '@/components/modals/ModalWithInfoFromParent.vue'
import ModalWithSlot from '@/components/modals/ModalWithSlot.vue'
import ModalWithCustomHeader from '@/components/modals/ModalWithCustomHeader.vue'
import SpecialModal from '@/components/modals/SpecialModal.vue'

export default {
  name: 'modals',
  components: {
    ModalSimple,
    ModalIdFromData,
    ModalWithInfoFromParent,
    ModalWithSlot,
    ModalWithCustomHeader,
    SpecialModal
  }
}
</script>
