<template>
  <b-container>
    <h1>Scoped Slots</h1>

    <current-user>
      <template v-slot:default="slotProps">
        {{ slotProps.user.firstName }}
        {{ slotProps.user.lastName }}
      </template>
    </current-user>

  </b-container>
</template>

<script>
import CurrentUser from '@/components/scoped-slots/CurrentUser'

export default {
  components: {
    CurrentUser
  }
}
</script>
