<template>
  <div class="simpleHeader d-flex justify-content-between align-items-center">
    <div class="simpleHeader-start">
      <slot name="start"></slot>
    </div>
    <div class="simpleHeader-end">
      <slot name="end"></slot>
    </div>
  </div>
</template>
