<template>
  <div>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show" id="formId">
      <b-form-group id="exampleInputGroup1"
                    label="Email address:"
                    label-for="exampleInput1"
                    description="We'll never share your email with anyone else.">
        <b-form-input id="exampleInput1"
                      type="email"
                      v-model="form.email"
                      required
                      placeholder="Enter email"
                      :value="gotUser.email">
        </b-form-input>
      </b-form-group>
      <b-form-group id="exampleInputGroup2"
                    label="Your Name:"
                    label-for="exampleInput2">
        <b-form-input id="exampleInput2"
                      type="text"
                      v-model="form.name"
                      required
                      placeholder="Enter name"
                      :value="gotUser.name">
        </b-form-input>
      </b-form-group>
      <b-form-group id="exampleInputGroup3"
                    label="Food:"
                    label-for="exampleInput3">
        <b-form-select id="exampleInput3"
                      :options="foods"
                      required
                      v-model="form.food">
        </b-form-select>
      </b-form-group>
      <Multiselect v-model="msData" :options="users[0].identifiers" label="identifierCenterName" track-by="identifierCenterName"></Multiselect>
      <b-form-group id="exampleGroup4">
        <b-form-checkbox-group v-model="form.checked" id="exampleChecks">
          <b-form-checkbox value="me">Check me out</b-form-checkbox>
          <b-form-checkbox value="that">Check that out</b-form-checkbox>
        </b-form-checkbox-group>
      </b-form-group>
    </b-form>
    <b-button type="submit" form="formId" variant="primary">Submit</b-button>
    <b-button type="reset" form="formId" variant="danger">Reset</b-button>
  </div>
</template>

<script>
import users from '@/data/users.json'
import Multiselect from 'vue-multiselect'

export default {
  components: {
    Multiselect
  },
  data () {
    return {
      msData: null,
      form: {
        email: '',
        name: '',
        food: null,
        checked: []
      },
      foods: [
        { text: 'Select One', value: null },
        'Carrots',
        'Beans',
        'Tomatoes',
        'Corn'
      ],
      show: true,
      userId: 5,
      gotUser: {},
      users: users
    }
  },
  computed: {
    msDataID () {
      return this.msData && this.msData.identifierCenterId
    }
  },
  mounted () {
    // this.getUser(this.userId)
    // this.getUserPosts(this.userId)
    // this.routedUsers()
    this.mapedUsers()
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      alert(JSON.stringify(this.form))
    },
    onReset (evt) {
      evt.preventDefault()
      /* Reset our form values */
      this.form.email = ''
      this.form.name = ''
      this.form.food = null
      this.form.checked = []
      /* Trick to reset/clear native browser form validation state */
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    },

    // DEV UTILITIES
    log (v) {
      console.log(Object.assign({}, v))
    },
    logJSON (d) {
      console.log(JSON.parse(JSON.stringify(d)))
    },

    // LOCAL
    routedUsers () {
      for (const user of this.users) {
        for (const identifier of user.identifiers) {
          identifier.identifierCenterName = identifier.identifierCenter.center
          identifier.identifierCenterId = identifier.identifierCenter.centerId
          delete identifier.identifierCenter
        }
      }
    },

    mapedUsers () {
      this.users.map(user => {
        for (const identifier of user.identifiers) {
          if (identifier.identifierCenter) {
            identifier.identifierCenterName = identifier.identifierCenter.center
            identifier.identifierCenterId = identifier.identifierCenter.centerId
            delete identifier.identifierCenter
          }
        }
      })
    },

    // FETCH
    getUsers () {
      fetch('https://jsonplaceholder.typicode.com/users')
        .then(response => response.json())
        .then(json => console.log(json))
    },
    getUser (userId) {
      fetch('https://jsonplaceholder.typicode.com/users/' + userId)
        .then(response => response.json())
        // .then(json => console.log(json))
        .then(json => {
          this.gotUser = json
        })
    },
    getUserPosts (userId) {
      fetch('https://jsonplaceholder.typicode.com/posts?userId=' + userId)
        .then(response => response.json())
        // .then(json => console.log(json))
        // .then(json => {
        //   this.gotUser = json
        // })
    }
  }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
